h1
{
    margin-bottom: 30px;
    color: navy;
    text-decoration: underline;
    font-style:italic;
}

input
{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    background-color: grey;
    border: solid;
    font-weight: bold;
}

button
{
    margin-bottom: 20px;
    background-color:rgba(69, 182, 148, 0.856);
    font-weight: bold;
}

hr
{
margin-bottom: 15px;
}

body
{
    background-color: blue;
}
